<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Add a generated icon to the map</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">


	<style>
		#map {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}

		.marker {
			background-image: url('/static/icon.png');
			background-size: cover;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			cursor: pointer;
		}

		.mapboxgl-popup {
			max-width: 200px;
		}

		.mapboxgl-popup-content {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
		}
	</style>
</head>

<body>
	<div class="header">
		<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
			<a class="pure-menu-heading" href="">Your Site</a>
	
			<ul class="pure-menu-list">
				<li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
				<li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
				<li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
			</ul>
		</div>
	</div>
	<section class="map_box_container">
		<!--MAP-->
	  <div id='map'></div>
	</section>
	</div>

    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>
</body>
<script src='/static/trains.js'></script>

</html>